*{
  margin: 0;
  padding:  0;
  box-sizing: border-box;
}
a,li,ul{
  text-decoration: none;
  list-style-type:none;
}
.wrap{
  margin: 0 auto;   
}
.content{will-change: transform;}
:root{
  --index: calc(1vw + 1vh);
  --text: #e7e7e0;
  --transition:transform .75s cubic-bezier(.075, .5, 0, 1);
}

@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
body{
  background-color: #010101;
  font-family: ralway_f, sans-serif;
  line-height: 1.55;
}

.header{
  position: relative;
}
.header::after{
  content: '';
	position: absolute;
	z-index: 3;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
  will-change: transform;
}
.intro__header{
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.intro__header__layers{
  height: 100%;
  width: 100%;
  position:absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  transition: var(--transition);
}


.article{
min-height: 900px;

}

.article::after{
	content: "";
  will-change: transform;
  
  z-index: 4;
  bottom: calc(var(--index) * 3.5);
  
  width: 512px;
  height: 512px;
  font-weight: 700;
  font-size: 400px;
  text-align: center;
  background-image: url(../img/linux.png);
  background-repeat: no-repeat;
  rotate:(-40deg);
}

.article__image{
  height: 100%;
  width: 100%;
  position:absolute;
  background-size: cover;
  background-position: center;
}

.layers__base{
  z-index: 0;
  transform: translate3d(0, calc(var(--scrollTop) / 1.5), 0);
  will-change: transform;
}

.layers__middle{
  z-index: 2;
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
  will-change: transform;
}

.layers__front{
  z-index: 2;
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
  will-change: transform;
}

.intro__header-content{
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--text);
  text-shadow: 0 0 15px #9d822b;
  transition: var(--transition);
  
}

.intro__header-content__sub-title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
  will-change: transform;
  
}
.intro__header-content__title {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
  will-change: transform;
  
}

.article{
  --article-transforme:translate3d(0,calc(var(--scrollTop) / -10),0);
  min-height: 900px;
  background-size: cover;
  text-align: center;
  align-items: center;
  color: var(--text);
  display: flex;
  position: relative;
  will-change: transform;
}

.article__wrapper{
  min-width: 800px;
  max-width: 1900px;
  box-sizing: border-box;
  margin: 0 auto;
}
.article__content{
  z-index: 5;
  margin: 0 auto;
  
}
.article__content__title{
  text-transform:uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7.5);
  transform: var(--article-transforme);
  will-change: transform;
}

.article__content__text{
  max-width: calc(var(--index) * 35);
  font-size: calc(var(--index) * .9);
  margin-top: calc(var(--index) * 1.25);
  transform: var(--article-transforme);
  will-change: transform;
}

/* nav section */


.header__wrapper{
  min-width: 1400px;
  max-width: 1900px;
  margin: 0px auto;
  padding: 0 0 0 calc(var(--index) * 10);
  position: absolute;
  z-index: 4;
  top: 20px;
  will-change: transform;
  
  
}

.header__top-row{
  padding: 0 15px;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    
}

.header__menu{
  display: flex;
  position: relative;
  font-size: 14px;
  z-index: 3;
  

}

.header__logo{
  align-items: center;
  z-index: 3;
  display: flex;
}

.header__menu-article{
  color: seashell;
  font-size: 17px;
  text-shadow: 0 0 15px #ffc400;
  transition: all 0.2s;
}

.header__menu-article:hover{
  font-size: 19px;
  filter: contrast(200%);
}

.header__menu-list{
  column-gap: 40px;
  display: flex;
  
  
}

.footer{
  background-color: #010101;
  display: flex;
  justify-content: center;
  gap: 50px;
  height: 100px;
  align-items: center;
  font-size: 18px;
  
}
.footer__link{
  font-size: 18px;
  color: aliceblue;
  transition: all 0.25s;
  
}

.footer__link:hover{
font-size: 20px;
} 

.footer__article{
  font-size: 500;
}

